body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6e6;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #d10000;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#yesButton {
    background-color: #4CAF50;
    color: white;
}

#noButton {
    background-color: #ff4444;
    color: white;
    position: absolute;
}

.cat-image {
    width: 200px;
    margin-top: 20px;
}